@{
    ViewData["Title"] = "Dashboard";
}

<main>
    <div id="dashboard" class="content-container active-section">
        <div class="content-header">
            <h2><i class="fas fa-tachometer-alt me-2"></i>Dashboard Overview</h2>
            <p class="mb-0">Welcome to your Contract Monthly Claim System dashboard</p>
        </div>
        <div class="content-body">
         
        </div>
    </div>

</main>